@import url('https://fonts.googleapis.com/css?family=Poppins:ital');

:root{
  --icons-color: #4c5773;
  --icons-light-color: #4c577341;
  --icons-bg-color: #e2e6e9;
  --shadow-dark-color: #d3dae7;
  --shadow-light-color: #fff;
  --main-bg-color: #ecf0f3;

  --box-shadow: 1rem 1rem 1rem var(--shadow-dark-color), -1rem -1rem 1rem var(--shadow-light-color);

  --box-shadow-2: 0rem 0rem 0rem var(--shadow-dark-color),-.3rem -.3rem 1rem var(--shadow-dark-color);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background-color: var(--main-bg-color);
  color: var(--icons-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: none;
}

::selection{
  color: var(--shadow-dark-color);
  background: var(--icons-color);
}

::-webkit-scrollbar{
  width: 1rem;
  border: 1px solid var(--main-bg-color);
}

::-webkit-scrollbar-track{
  border-radius: 0;
  background-color: var(--main-bg-color);
}

::-webkit-scrollbar-thumb{
  border-radius: 2rem;
  background: var(--icons-color);
  width: .5rem; 
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
